* text=auto
/.gitattributes text eol=lf
/.gitignore text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ps1 text eol=lf
*.cff text eol=lf
*.csv text eol=lf
*.sha256 text eol=lf
LICENSE text eol=lf
*.zip binary
